:root
{
    --threedy-red: #FF5027;
    --threedy-green: #00FFAC;
    --threedy-blue: #5075F9;
    --threedy-dark-blue: #091227;
}

html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}

body {
    font-family: "Montserrat", sans-serif;
    background-image: url("../public/threedy-form.svg");
    background-color: var(--threedy-dark-blue);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto 70%;
    background-attachment: fixed;
}

.App {
  text-align: center;
  height: 90vmin;
  padding: 10px;
}

.viewer {
  width: 100%;
  height: 90%;
  background-color: var(--threedy-dark-blue);
}

.overlay-button {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 32px;
}

button {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 2px solid #AAAAAA;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

button:active {
  background-color: rgba(255,255,255,0);
}

button:disabled {
  opacity: 0.6;
  cursor: auto;
}

.about {
  margin-top: 64px;
  margin-left: 128px;
  margin-right: 128px;
}

.--hidden {
  display: none;
  position: unset;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 1.3rem;
  list-style-type: none;
  margin: 0;
  padding: 1rem 0;
  background-color: rgba(161, 161, 161, 0.1);
}

nav > * {
  margin: 0 1rem;
  text-decoration: none;
}
button {
  padding: 1rem;
}


a,
a:active,
a:visited
{
    color: white;
    text-decoration: none;
}

a:hover
{
    color: var(--threedy-green);
}

h1
{
    font-weight: 400;
    font-size: 28px;
    color: var(--threedy-green);
}

h3
{
    color: white;
    font-weight: 300;
    font-size: 22px;
}

p
{
  color: white;
  font-size: 22px;
}

ul {
    list-style: none;
    padding: 0px;
}

ul li 
{
    color: white;
    margin: 8px;
    font-weight: 200;
}

ul li:before
{
    content: '\25b6\fe0e';
    margin: 0 20px 0 30px;
}